/*@font-face {
  font-family: 'stellar';
     src: url('fonts/stellar/stellar-bold.otf'),
          url('fonts/stellar/stellar-light.otf'),
          url('fonts/stellar/stellar-medium.otf'),
          url('fonts/stellar/stellar-regular.otf');
}*/
@font-face {
  font-family: 'anurati';
     src: url('fonts/anurati/anurati.otf');
}

/* Colors and Fonts */
@-webkit-keyframes AnimationName {
  0%{background-position:54% 0%}
  50%{background-position:47% 100%}
  100%{background-position:54% 0%}
}
@keyframes AnimationName {
  0%{background-position:54% 0%}
  50%{background-position:47% 100%}
  100%{background-position:54% 0%}
}
body {
  background: linear-gradient(27deg, #ff3904, #f3ff04, #36ff04);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;

  font-family: 'stellar', 'Monserrat';
  font-size: 15px;
  line-height: 1.6em;
}
h1 {
  font-family: 'anurati';
  font-size: 22px;
  color: white;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color: #ccc;
}
h2 {
  font-size: 18px;
  font-weight: 300;
}
p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
}
a {
  color: #F3E00B;
  text-decoration: none;
}
a:hover {
  color: #C2FF0B;
  text-decoration: none;
}
table {
  font-size: 15px;
  line-height: 1.6em;
}

/* First simple components */
.navbar {
  background-color: black;
  height: 5vh;
}
.footer {
  background-color: black;
  height: 5vh;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.list-inline {
  padding-left: 0;
  margin: 0 auto;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.container{
  height: 90vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card{
  background: black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.15), 0 0 4px 0 rgba(0,0,0,.2), 0 12px 12px 0 rgba(0,0,0,.15);
  transition: box-shadow .4s ease-in;
  transition: box-shadow .4s ease-out;
  position: relative;
}
.card:hover{
  box-shadow: 0 0 2px 0 rgba(0,0,0,.15), 0 0 5px 0 rgba(0,0,0,.2), 0 25px 25px 0 rgba(0,0,0,.25);
  transition: box-shadow .4s ease-in;
  transition: box-shadow .4s ease-out;
}
.avatar {
  width: 70px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.righttop {
  position: absolute;
  right: 20px;
}
.rightbottom {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
